providers: []
policySets: []
roleSets: []
groupSets:
  - deploymentTargets:
      organizationalUnits:
        - Root
    groups:
      - name: BreakGlassAdministrators
        policies:
          awsManaged:
            - AdministratorAccess
userSets:
  - deploymentTargets:
      accounts:
        - Management
    users:
      - username: breakGlassUser01
        group: BreakGlassAdministrators
