name: Zip and Upload to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/SLZGithubAcceleratorRole
          role-session-name: githubrolesession
          aws-region: ${{ vars.AWS_REGION }}

      - name: Zip repository
        run: |
          # Exclude the .git history to keep the zip clean
          zip -r aws-accelerator-config.zip . -x "*.git*" 

      - name: Upload zip to S3
        run: |
          aws s3 cp aws-accelerator-config.zip s3://slz-config-131798512316-me-central-1/zipped/aws-accelerator-config.zip